## Question-1

### A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('H:/ExcelR Data Science/datasets_BA/Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
df.shape

(35, 2)

In [4]:
unitA=df['Unit A'].tolist()
unitA

[6.809,
 6.4376,
 6.9157,
 7.3012,
 7.4488,
 7.3871,
 6.8755,
 7.0621,
 6.684,
 6.8236,
 7.393,
 7.5169,
 6.9246,
 6.9256,
 6.5797,
 6.8394,
 6.597,
 7.2705,
 7.2828,
 7.3495,
 6.9438,
 7.156000000000001,
 6.5341,
 7.2854,
 6.9952,
 6.8568,
 7.2163,
 6.6801,
 6.9431,
 7.0852,
 6.7794,
 7.2783,
 7.1561,
 7.3943,
 6.9405]

In [5]:
unitB=df['Unit B'].tolist()
unitB

[6.7703,
 7.5093,
 6.73,
 6.7878,
 7.1522,
 6.811,
 7.2212,
 6.6606,
 7.2402,
 7.0503,
 6.881,
 7.4059,
 6.7652,
 6.037999999999999,
 7.1581,
 7.024,
 6.6672,
 7.4314,
 7.307,
 6.7478,
 6.8889,
 7.422000000000001,
 6.5217,
 7.1688,
 6.7594,
 6.9399,
 7.0133,
 6.9182,
 6.3346,
 7.5459,
 7.0992,
 7.117999999999999,
 6.6965,
 6.577999999999999,
 7.3875]

Null Hypothesis- There is no significant difference between diameter of cutlets of two units.

Alternate Hypothesis- There is a difference in diameter of cutlets of two units.

In [6]:
# Doing T-test

from scipy.stats import ttest_ind
stat, p = ttest_ind(unitA,unitB)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Accept Null Hypothesis')
else:
    print('Accept Alternate Hypothesis')

stat=0.723, p=0.472
Accept Null Hypothesis

As p-value > 0.05 we will accept the null hypothesis i.e. there is no difference between diameters of the cutlets of two units.

## Question-2

### A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [7]:
df=pd.read_csv('H:/ExcelR Data Science/datasets_BA/LabTAT.csv')
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [8]:
df.shape

(120, 4)

In [9]:
lab1=df['Laboratory 1'].tolist()
lab2=df['Laboratory 2'].tolist()
lab3=df['Laboratory 3'].tolist()
lab4=df['Laboratory 4'].tolist()

Null Hypothesis: The mean TAT of all the samples are equal.

Alternate Hypothesis: One or more of the mean TAT of the samples are unequal.

In [10]:
## As number of samples is more than 2, we will use ANOVA test

from scipy.stats import f_oneway

stat, p = f_oneway(lab1,lab2,lab3,lab4)

print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Accept Null Hypothesis')
else:
    print('Accept Alternate Hypothesis')

stat=118.704, p=0.000
Accept Alternate Hypothesis

As p-value is less than 0.05 we will reject null hypothesis and accept alternate hypothesis i.e. one or more mean TAT of given samples are unequal.

## Question-3

### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [11]:
df=pd.read_csv('H:/ExcelR Data Science/datasets_BA/BuyerRatio.csv')
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

Null Hypothesis- Male-Female buyer ratios similar across all regions( There is no relationship between gender and region).

Alternate Hypothesis- Male-Female buyer ratio isnt similar across regions( There is relation between gender and region).

In [12]:
samples=np.array([[50,142,131,70],[435,1523,1356,750]])
samples

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [13]:
# Chi-square test

from scipy.stats import chi2_contingency

stat, p, dof, expected = chi2_contingency(samples)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Accept Null Hypothesis- No relationship ')
else:
    print('Accept Alternate Hypothesis- There is relationship')

stat=1.596, p=0.660
Accept Null Hypothesis- No relationship

As p-value is greater than 0.05 we will accept the null hypothesis which states that male-female buyer ratios are same across all regions i.e. there is no relationship between the two categorical variables- gender of buyer and region.

## Question-4

### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

In [14]:
df=pd.read_csv('H:/ExcelR Data Science/datasets_BA/Costomer+OrderForm.csv')
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [15]:
df.shape

(300, 4)

In [16]:
df['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [17]:
df['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [18]:
df['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [19]:
df['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [20]:
table=np.array([[271,267,269,280],[29,33,31,20]])
table

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

Null Hypothesis- There is no relationship between defective% and center.

Alternate Hypothesis- There is a relationship between defective% and center.

In [21]:
# Chi-square test

from scipy.stats import chi2_contingency

stat, p, dof, expected = chi2_contingency(table)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
    print('Accept Null Hypothesis- No relationship ')
else:
    print('Accept Alternate Hypothesis- There is relationship')

stat=3.859, p=0.277
Accept Null Hypothesis- No relationship

As p-value> 0.05 ,the null hypothesis is accepted i.e the defective percent of customer forms does not vary by center.